@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');


.product-page6 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 2033px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.product-page6 .rectangle-copy4 {
  background-color    : rgba(11, 64, 200, 1.0);
  top                 : 269px;
  height              : 63px;
  width               : 509px;
  position            : absolute;
  margin              : 0;
  left                : 857px;
}
.product-page6 .rectangle-copy5 {
  background-color    : rgba(239, 239, 239, 1.0);
  top                 : 709px;
  height              : 63px;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 857px;
}
.product-page6 .rectangle-copy6 {
  background-color    : rgba(239, 239, 239, 1.0);
  top                 : 709px;
  height              : 63px;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 1022px;
}
.product-page6 .rectangle-copy7 {
  background-color    : rgba(239, 239, 239, 1.0);
  top                 : 709px;
  height              : 63px;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 1220px;
}
.product-page6 .rectangle4 {
  background-color    : rgba(255, 206, 0, 1.0);
  top                 : 426px;
  height              : 71px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 1290px;
}
.product-page6 .retinal-detachment-r {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 290px;
  height              : auto;
  width               : 463px;
  position            : absolute;
  margin              : 0;
  left                : 186px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.product-page6 .you-have-selected-d {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 835px;
  height              : auto;
  width               : 463px;
  position            : absolute;
  margin              : 0;
  left                : 857px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.product-page6 .label1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 723px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 971px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.product-page6 .a-m {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 724px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 1281px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.product-page6 .a15 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 724px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 1074px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.product-page6 .a11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 724px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 926px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.product-page6 .may2018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 282px;
  height              : auto;
  width               : 292px;
  position            : absolute;
  margin              : 0;
  left                : 1068px;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.product-page6 .schedule-your-inform {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 383px;
  height              : auto;
  width               : 1015px;
  position            : absolute;
  margin              : 0;
  left                : 186px;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.product-page6 .line-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1275px;
  height              : 3px;
  width               : 1084px;
  position            : absolute;
  margin              : 0;
  left                : 179px;
}
.product-page6 .rectangle-copy41 {
  background-color    : rgba(255, 206, 0, 1.0);
  top                 : 187px;
  height              : 82px;
  width               : 659px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.product-page6 .proliance-surgeons {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 203px;
  height              : auto;
  width               : 463px;
  position            : absolute;
  margin              : 0;
  left                : 186px;
  font-family         : "Playfair Display", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 40.0px;
}
.product-page6 .ambulatory-surgery-c {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 458px;
  height              : auto;
  width               : 463px;
  position            : absolute;
  margin              : 0;
  left                : 186px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.product-page6 .page1-copy5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 865px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 194px;
}
.product-page6 .page1-copy5 .fill1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 38px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1-copy5 .group5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1-copy6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 865px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 234px;
}
.product-page6 .page1-copy6 .fill11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 38px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1-copy6 .group51 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1-copy7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 865px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 274px;
}
.product-page6 .page1-copy7 .fill12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 38px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1-copy7 .group52 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1-copy8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 865px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 313px;
}
.product-page6 .page1-copy8 .fill13 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 38px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1-copy8 .group53 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 352px;
  height              : 292px;
  width               : 508px;
  position            : absolute;
  margin              : 0;
  left                : 856px;
}
.product-page6 .page1 .group10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 147px;
  width               : 508px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1 .group10 .stroke1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1 .group10 .stroke3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.product-page6 .page1 .group10 .stroke4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
}
.product-page6 .page1 .group10 .stroke5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 73px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 216px;
}
.product-page6 .page1 .group10 .stroke6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 289px;
}
.product-page6 .page1 .group10 .stroke7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 361px;
}
.product-page6 .page1 .group10 .stroke8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 433px;
}
.product-page6 .page1 .group10 .stroke9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1 .stroke11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 74px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.product-page6 .page1 .stroke12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 74px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
}
.product-page6 .page1 .stroke13 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 74px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 217px;
}
.product-page6 .page1 .stroke14 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 74px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 289px;
}
.product-page6 .page1 .stroke15 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 74px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 361px;
}
.product-page6 .page1 .group19 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 146px;
  width               : 508px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1 .group19 .stroke16 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 74px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 433px;
}
.product-page6 .page1 .group19 .stroke18 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 74px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1 .stroke20 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 145px;
  height              : 74px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.product-page6 .page1 .stroke21 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 145px;
  height              : 74px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
}
.product-page6 .page1 .stroke22 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 145px;
  height              : 74px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 217px;
}
.product-page6 .page1 .stroke23 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 145px;
  height              : 74px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 289px;
}
.product-page6 .page1 .stroke24 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 145px;
  height              : 74px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 361px;
}
.product-page6 .page1 .group34 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 145px;
  height              : 147px;
  width               : 508px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1 .group34 .stroke25 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 433px;
}
.product-page6 .page1 .group34 .stroke27 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1 .group34 .stroke28 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.product-page6 .page1 .group34 .stroke29 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
}
.product-page6 .page1 .group34 .stroke30 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 73px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 216px;
}
.product-page6 .page1 .group34 .stroke31 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 289px;
}
.product-page6 .page1 .group34 .stroke32 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 361px;
}
.product-page6 .page1 .group34 .stroke33 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 72px;
  height              : 73px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 433px;
}
.product-page6 .triangle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 288px;
  height              : 20px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 1317px;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.product-page6 .triangle-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 288px;
  height              : 20px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 872px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.product-page6 .rectangle3-copy15 {
  background-color    : rgba(9, 62, 198, 1.0);
  top                 : 1125px;
  height              : 82px;
  width               : 232px;
  position            : absolute;
  margin              : 0;
  left                : 857px;
}
.product-page6 .c-onfirm {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1151px;
  height              : auto;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 859px;
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.product-page6 .rectangle3-copy13 {
  background-color    : rgba(9, 62, 198, 1.0);
  top                 : 1339px;
  height              : 82px;
  width               : 461px;
  position            : absolute;
  margin              : 0;
  left                : 490px;
}
.product-page6 .return-to-results {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1363px;
  height              : auto;
  width               : 427px;
  position            : absolute;
  margin              : 0;
  left                : 503px;
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.product-page6 .rectangle-copy9 {
  background-color    : rgba(255, 206, 0, 1.0);
  top                 : 1498px;
  height              : 455px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.product-page6 .start-new-search-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1623px;
  height              : auto;
  width               : 1070px;
  position            : absolute;
  margin              : 0;
  left                : 186px;
  font-family         : "Playfair Display", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 40.0px;
}
.product-page6 .rectangle3-copy19 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1705px;
  height              : 82px;
  width               : 509px;
  position            : absolute;
  margin              : 0;
  left                : 186px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
}
.product-page6 .rectangle3-copy20 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1705px;
  height              : 82px;
  width               : 248px;
  position            : absolute;
  margin              : 0;
  left                : 721px;
  border-style        : solid;
  border-width        : 6px;
  border-color        : rgba(9, 62, 198, 1.0);
}
.product-page6 .page1-copy18 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1625px;
  height              : 402px;
  width               : 410px;
  position            : absolute;
  margin              : 0;
  left                : 1031px;
}
.product-page6 .page1-copy18 .fill14 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 402px;
  width               : 402px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1-copy18 .fill3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 98px;
  height              : 278px;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 131px;
}
.product-page6 .page1-copy18 .fill5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 145px;
  height              : 69px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 178px;
}
.product-page6 .search-by-condition-copy4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1726px;
  height              : auto;
  width               : 463px;
  position            : absolute;
  margin              : 0;
  left                : 199px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.product-page6 .upload-copy4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1733px;
  height              : auto;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 742px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.product-page6 .a363-to1000-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1785px;
  height              : auto;
  width               : 509px;
  position            : absolute;
  margin              : 0;
  left                : 1391px;
  font-family         : "Playfair Display", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 100.0px;
  color               : rgba(9, 62, 198, 1.0);
  text-align          : center;
  line-height         : 133.0px;
}
.product-page6 .rectangle3-copy21 {
  background-color    : rgba(9, 62, 198, 1.0);
  top                 : 1809px;
  height              : 82px;
  width               : 248px;
  position            : absolute;
  margin              : 0;
  left                : 186px;
}
.product-page6 .search-copy4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1835px;
  height              : auto;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 203px;
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.product-page6 .rectangle-copy10 {
  background-color    : rgba(9, 62, 198, 1.0);
  top                 : 1953px;
  height              : 82px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.product-page6 .page1-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 48px;
  height              : 52px;
  width               : 222px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.product-page6 .page1-copy .fill15 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 36px;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1-copy .group25 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 52px;
  width               : 222px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1-copy .group25 .fill2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 17px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 88px;
}
.product-page6 .page1-copy .group25 .fill4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 17px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
}
.product-page6 .page1-copy .group25 .fill6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 24px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 117px;
}
.product-page6 .page1-copy .group25 .fill8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 21px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 125px;
}
.product-page6 .page1-copy .group25 .fill10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 24px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 136px;
}
.product-page6 .page1-copy .group25 .fill121 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 24px;
  height              : 23px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 154px;
}
.product-page6 .page1-copy .group25 .fill141 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 24px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 170px;
}
.product-page6 .page1-copy .group25 .fill16 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 17px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 188px;
}
.product-page6 .page1-copy .group25 .group20 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 22px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 204px;
}
.product-page6 .page1-copy .group25 .fill21 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 22px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
}
.product-page6 .page1-copy .group25 .clip24 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 52px;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .page1-copy .group25 .fill23 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 36px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.product-page6 .group {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 48px;
  height              : 106px;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 1161px;
}
.product-page6 .group .page1-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 51px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 156px;
}
.product-page6 .group .page1-copy2 .fill17 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 51px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page6 .group .page1-copy2 .stroke2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 6px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.product-page6 .group .page1-copy2 .stroke34 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 22px;
  height              : 6px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.product-page6 .group .page1-copy2 .stroke41 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 35px;
  height              : 6px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.product-page6 .group .page1-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
}
.product-page6 .group .marie-santos-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 59px;
  height              : auto;
  width               : 145px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(9, 62, 198, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.product-page6 .group .fill1-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 30px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 111px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}