@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');


.product-page7 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1581px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.product-page7 .retinal-detachment-r {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 290px;
  height              : auto;
  width               : 463px;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.product-page7 .you-are-confirmed {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 383px;
  height              : auto;
  width               : 1015px;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.product-page7 .rectangle-copy4 {
  background-color    : rgba(255, 206, 0, 1.0);
  top                 : 187px;
  height              : 82px;
  width               : 659px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.product-page7 .proliance-surgeons {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 204px;
  height              : auto;
  width               : 463px;
  position            : absolute;
  margin              : 0;
  left                : 186px;
  font-family         : "Playfair Display", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 40.0px;
}
.product-page7 .your-informational-s {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 468px;
  height              : auto;
  width               : 1070px;
  position            : absolute;
  margin              : 0;
  left                : 191px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.product-page7 .rectangle3-copy13 {
  background-color    : rgba(9, 62, 198, 1.0);
  top                 : 893px;
  height              : 82px;
  width               : 461px;
  position            : absolute;
  margin              : 0;
  left                : 490px;
}
.product-page7 .e-xit {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 919px;
  height              : auto;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 525px;
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.product-page7 .rectangle-copy11 {
  background-color    : rgba(255, 206, 0, 1.0);
  top                 : 1047px;
  height              : 455px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.product-page7 .start-new-search-copy4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1172px;
  height              : auto;
  width               : 1070px;
  position            : absolute;
  margin              : 0;
  left                : 186px;
  font-family         : "Playfair Display", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 40.0px;
}
.product-page7 .rectangle3-copy22 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1254px;
  height              : 82px;
  width               : 509px;
  position            : absolute;
  margin              : 0;
  left                : 186px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
}
.product-page7 .rectangle3-copy23 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1254px;
  height              : 82px;
  width               : 248px;
  position            : absolute;
  margin              : 0;
  left                : 721px;
  border-style        : solid;
  border-width        : 6px;
  border-color        : rgba(9, 62, 198, 1.0);
}
.product-page7 .page1-copy19 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1174px;
  height              : 402px;
  width               : 410px;
  position            : absolute;
  margin              : 0;
  left                : 1031px;
}
.product-page7 .page1-copy19 .fill1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 402px;
  width               : 402px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page7 .page1-copy19 .fill3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 98px;
  height              : 278px;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 131px;
}
.product-page7 .page1-copy19 .fill5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 145px;
  height              : 69px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 178px;
}
.product-page7 .search-by-condition-copy5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1275px;
  height              : auto;
  width               : 463px;
  position            : absolute;
  margin              : 0;
  left                : 199px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.product-page7 .upload-copy5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1282px;
  height              : auto;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 742px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.product-page7 .a363-to1000-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1444px;
  height              : auto;
  width               : 509px;
  position            : absolute;
  margin              : 0;
  left                : 1391px;
  font-family         : "Playfair Display", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 100.0px;
  color               : rgba(9, 62, 198, 1.0);
  text-align          : center;
  line-height         : 133.0px;
}
.product-page7 .rectangle3-copy24 {
  background-color    : rgba(9, 62, 198, 1.0);
  top                 : 1358px;
  height              : 82px;
  width               : 248px;
  position            : absolute;
  margin              : 0;
  left                : 186px;
}
.product-page7 .search-copy5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1384px;
  height              : auto;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 203px;
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.product-page7 .rectangle-copy12 {
  background-color    : rgba(9, 62, 198, 1.0);
  top                 : 1502px;
  height              : 82px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.product-page7 .page1-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 48px;
  height              : 52px;
  width               : 222px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.product-page7 .page1-copy .fill11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 36px;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page7 .page1-copy .group25 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 52px;
  width               : 222px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page7 .page1-copy .group25 .fill2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 17px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 88px;
}
.product-page7 .page1-copy .group25 .fill4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 17px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
}
.product-page7 .page1-copy .group25 .fill6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 24px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 117px;
}
.product-page7 .page1-copy .group25 .fill8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 21px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 125px;
}
.product-page7 .page1-copy .group25 .fill10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 24px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 136px;
}
.product-page7 .page1-copy .group25 .fill12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 24px;
  height              : 23px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 154px;
}
.product-page7 .page1-copy .group25 .fill14 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 24px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 170px;
}
.product-page7 .page1-copy .group25 .fill16 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 17px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 188px;
}
.product-page7 .page1-copy .group25 .group20 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 22px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 204px;
}
.product-page7 .page1-copy .group25 .fill21 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 22px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
}
.product-page7 .page1-copy .group25 .clip24 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 52px;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page7 .page1-copy .group25 .fill23 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 36px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.product-page7 .group {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 48px;
  height              : 106px;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 1161px;
}
.product-page7 .group .page1-copy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 51px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 156px;
}
.product-page7 .group .page1-copy2 .fill13 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 51px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.product-page7 .group .page1-copy2 .stroke2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 6px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.product-page7 .group .page1-copy2 .stroke3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 22px;
  height              : 6px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.product-page7 .group .page1-copy2 .stroke4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 35px;
  height              : 6px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.product-page7 .group .page1-copy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
}
.product-page7 .group .marie-santos-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 59px;
  height              : auto;
  width               : 145px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(9, 62, 198, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.product-page7 .group .fill1-copy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 30px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 111px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}